*{
    font-family: 'Ubuntu', sans-serif;
}

.body{
    background-attachment: fixed;
    background-size: 100%;
    background-image: url("../img/Фон\ 1.png");
    margin: 0 auto;
    
}

/*--header--*/

.header{
    width: 100%;

    height: 58px;
    left: 0px;
    top: 0px;
    
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: space-between;
}

.header_h1{
    width: 157px;
    height: 22px;
    left: 79px;
    top: 18px;
    
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;

    margin-left: 79px;
    
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.header_a_h1{
    text-decoration: none;
}

.header_h1:hover{
    color: #01813F;
    transition: 0.5s;  
}

.div_svg{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

svg{
    text-decoration: none;
    fill: white;   
}



svg:hover{
    fill: #01813F;
    transition: 0.5s;
}

.header_line{
    width: 1px;
    height: 19px;
    left: 1083px;
    top: 20px;

    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}

.header_p_1{
    width: 118px;
    height: 22px;

    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.header_a_log_in{
    text-decoration: none;
    color: #FFFFFF;
}

.header_log_in:hover{
    color: #01813F;
    transition: 0.5s;
}

.header_p_2{
    width: 78px;
    height: 14px;
    
    font-size: 14px;
    line-height: 14px;

    margin-top: 14px;
    margin-right: 79px;
  
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.header_a_sign_up{
    margin-left: 5px;
    text-decoration: none;
    color: #FFFFFF;
}

.header_sign_up:hover{
    color: #01813F;
    transition: 0.5s;
}

/*--main--*/

.main_form{
    width: 444px;
    height: 584px;
    
    position: fixed; top: 54%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 

    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

#square{
    position: absolute;
    width: 18px;
    height: 18px;

    left: 0px;
    top: 19px;

    background-color: #01813F;
}


.form_ul_networks{
    display: grid;
    gap: 12px;

    grid-template-rows: 30px 30px;
    grid-template-columns: 160px 160px;
   
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0px;
    margin-left: 52px;
    margin-top: 12px;
}


.ul_networks_log_in{
    font-weight: 400;
    font-size: 20px;

    text-decoration: none;
    color: rgba(60, 184, 120, 0.8);
    text-align: end; 
}

.ul_networks_log_in:hover{
    text-decoration: underline;
    color: #01813F; 
}

.ul_networks_sign_up{
    font-weight: 400;
    font-size: 20px;

    text-decoration: none;
    
    color: #434343;
}

.form_li_1_networks{
    margin-bottom: 0px;
}

.a_button_facebook{
    text-decoration: none;
    
}

.button_facebook{
    border: 0px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0px;
}

.ul_networks_facebook{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    position: relative;
    width: 166px;
    height: 48px;
    left: 0px;
    top: 0px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;

    border-radius: 2px;

    background-color: #305DB8;
    color: #FFFFFF;

    
}

.ul_networks_facebook:hover{
    background-color: #022263;
    transition: 1s;
}

.form_li_f_networks{
    font-size: 24px;
}

.ul_networks_line_facebook{
    position: absolute;
    width: 1px;
    height: 28px;
    left: 48px;

    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}

/*--google--*/

.form_li_g_networks{
    font-size: 24px; 
}

.ul_networks_line_google{
    position: absolute;
    width: 1px;
    height: 28px;
    left: 60px;

    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.ul_networks_google{
    position: relative;
    width: 166px;
    height: 48px;

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    

    border-radius: 2px;
    
    background: #DF4A32;
    color: #FFFFFF;
}

.ul_networks_google:hover{  
    background: #AB1F09;
    transition: 1s;
}

.a_button_google{
    text-decoration: none;
}

.button_google{
    border: 0px;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 0px;
}

/*--or--*/

.main_line_or_1{
    position: absolute;
    width: 152px;
    left: 56px;
   
    margin-top: 5px;
    
    border: 1px solid #F2F2F2;
}

.main_line_or_2{
    position: absolute;
    width: 152px;
    left: 234px;
    
    margin-top: -21px;

    border: 1px solid #F2F2F2;
}

.main_p_or{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    text-align: center;

    margin-top: 65px;

    color: #848484;
}

/*--registration--*/

.form_ul_registration{
    list-style-type: none;
    text-align: center;
    
    padding: 0px;
}

.ul_li_registration{
    width: 324px;
    height: 45px;
    
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 0px;
    padding-left: 20px;
    margin-bottom: 15px;
}



.ul_li_registration:focus{
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}


.agreement{
    margin-left: 50px;
    margin-top: 12px;
}

    input[type="checkbox"]:checked + label,  
    input[type="checkbox"]:not(:checked) + label{
    display: inline-block;
    cursor: pointer;}

.span_agree_with_our{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    
    color: #434343;
}



.span_terms_conditions{
    color: rgba(60, 184, 120, 0.8);
}

.span_terms_conditions:hover{
    transition: 1s;
    text-decoration: underline;
    color: #01813F;
}

.a_span_terms_conditions{
    text-decoration: none;
}

.a_span_terms_conditions:hover{
    text-decoration: #01813F;
}

.button_create_account{
    position: absolute;
    width: 344px;
    height: 48px;
    left: 52px;
    top: 490px;

    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: 0px;
}

.button_create_account:hover{
    background-color: #01813F;
    transition: 1s;
}

.a_button_create_account{
    padding-top: 15px;
    padding-right: 80px;
    padding-bottom: 15px;
    padding-left: 80px;
    
    text-decoration: none;
    color: #FFFFFF;
}